.heroTitle {
    position: relative;
    color: #222;
    font-size: clamp(1.125rem, 3vw + 0.5rem, 3.75rem);
}

.heroTitle::before {
    display: inline-block;
    content: attr(data-text);
    position: absolute;
    color: #fff;
    max-width: max-content;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 8s linear infinite;
    border-right: 4px solid #fff;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}



@keyframes typewriter {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}